<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
  </head>
  <body>
    <div id="container">
      <h1>Create Short URL</h1>
      <form action="/create" method="POST">
        <div>
          <input type="text" name="shortpath" rows="20" cols="80" placeholder="Short URL (3 to 8 chars)"></input>
        </div>
        <div>
          <input type="text" name="longurl" rows="20" cols="80" placeholder="URL To Shorten"></input>
        </div>
        <div>
          <input type="submit" value="Save">
        </div>
      </form>
    </div>
  </body>
</html>
